<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Vehículos</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">CRUD Vehículos</a>
    </nav>

    <div class="container mt-4">
        <h1>Gestión de Vehículos</h1>
        
        <!-- Pestañas -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" id="todos-tab" data-toggle="tab" href="#todos">Todos los Vehículos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#insertar">Insertar Vehículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#eliminar">Eliminar Vehículo</a>
            </li>
        </ul>

        <div class="tab-content">
            <%- include('partials/todos.ejs') %>
            <%- include('partials/insertar.ejs') %>
            <%- include('partials/eliminar.ejs') %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Cargar la tabla de vehículos al hacer clic en la pestaña "Todos los Vehículos"
        document.getElementById('todos-tab').addEventListener('click', function() {
            cargarVehiculos(); // Llama a la función que carga los vehículos
        });
    </script>
</body>
</html>
